body {
    background-color: #CCCCFF;
    font: bold 14pt sans-serif;
    text-align: center;
}

header {
    font-size: 32pt;
    margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#text-area {
    width: 90%;
    height: 400px;
    font: bold 12pt monospace;
    display: block;
    margin: 0 auto;
}

fieldset {
    border: 5px solid black;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 10px;
}

button {
    width: 100px;
}

select {
    width: 150px;
}

#validators {
    text-align: right;
    margin-top: 20px;
}
